/* TITRE */

#Ophiel_rp .header > h1 {
  font-family: 'League Script', sans-serif;
  font-size : 46px;
  letter-spacing: 5px;
}

/* Sous-Titre* /

#Ophiel_rp .header > h2 {
  font-family: 'Instrument Serif Regular';
}
